<!-- <div class="container">
    <h1>Not found</h1>
    <button class="btn btn-info btn-lg" routerLink='/'>Return to home page</button>
</div> -->

<!-- purple x moss 2020 -->


    <div class="mainbox">
      <div class="err">4</div>
      <i class="far fa-question-circle fa-spin"></i>
      <div class="err2">4</div>
      <div class="msg">Maybe this page moved? Got deleted? Is hiding out in quarantine? Never existed in the first place?<p>Let's go <a [routerLink]="['/']" routerLinkActive="router-link-active" >home</a> and try from there.</p></div>
        
